# Eye Doctor MagAO-X application
#
# Install as /opt/MagAOX/config/eyeDoctor.conf (or eyeDoc.conf if that is the
# process configName).

[shmims]
shm_dm_eyeDoc = dm01disp06
shm_dm_eyeDoc_sweep = dm01disp05
shm_dm_flat = dm01disp00
shm_dm_sum = dm01disp
shm_cam = camsci

[camera]
cam_name = camsci

[eyedoctor]
mode_type = zernike
n_modes = 36
flat_dir = /opt/MagAOX/calib/dm/bmc_1k/flats
# dark_lib_path = /opt/MagAOX/data/darks/camsci
exptime_tol = 0.0001
mode_start = 0
mode_end = 10
focus_mode_index = 3
core_radius = 10.0
search_range = 0.1
search_step = 0
n_steps = 20
n_repeats = 3
n_seq_repeat = 1
n_images = 10
skip_frames = 200
cen_x = 255
cen_y = 255
sat_thresh = 55000
blank_thresh = 0
dm_delay = 0.1
search_kind = fit
reset_to_zero = false
# Pulse INDI reset_to_zero to write zeros to both eye-doctor DM channels.
ignore_focus = false
